@font-face {
    font-family: "Bebas Neue", serif;
    src: url("../Rainydays/fonts/BebasNeue-Regular.ttf") format("truetype");

    font-family: "EB Garamond", serif;
    src: url("../Rainydays/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
}

body {
    min-width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'top'
        'hero'
        'boxes'
        'highlight'
        'mailbox'
        'bottom';
}

header { grid-area: top; }
section#welcome { grid-area: hero; }
section#featured { grid-area: boxes; }
section#highlight { grid-area: highlight; }
section#socials { grid-area: mailbox; }
footer { grid-area: bottom; }

h1,h2,h3,h4,h5,h6 { 
    font-family: "Bebas Neue", serif;
}

header {
    position: relative;
    background-color: #002E55;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 100px;
    height: auto;
    padding: 10px 0;
    
}

.headercontainer {
    display: block;
}

header nav {
    display: none;
}


#hamburger-menu {
    display: none;
}

.mobile {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.fa-shopping-cart {
    display: none;
}


#hamburger-menu:checked~nav {
    display: block;
    transition: height 0.3s ease-in-out;
    padding: 0;
    margin: 0;
}

label[for=hamburger-menu] {
    font-size: 2.5em;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFE51E;
}


header nav ul {
    text-align: center;
    color: #FFFCF5;
    margin: 0;
    padding: 0;
}

header nav ul li {
    width: 100vw;
}

header nav ul li a {
    text-decoration: none;
    color: #002E55;
    background: #DFDFDF;
    padding: 5px 5px;
    border: 1px solid black;
    display: block;
    text-align: center;
}

div.headergrid {
    display: grid;
    grid-template-columns: auto;

}

section#welcome img {
  width: 100vw;
  height: auto;
}

section#welcome {
    position: relative;
    max-width: 100%;

}

section#welcome > div.imagetext {
    position: absolute;
    width: 190px;
    height: 188px;
    color: #FFE51E;
    bottom: 48px;
    padding: 5px;
    right: 100px;

}

header nav ul li a {
    display: block;
    background: #DFDFDF;
    color: black;
    font-family: "Bebas Neue", serif;
    text-align: center;
    z-index: 5;
}

section#featured {
    position: relative;

}

div.flex-container.jacket {
    height: 375px;
    text-align: center;
    display: flex;
width: 100vw;
overflow-y: scroll;
}

.featured_jackets {
    display: inline;
    float: left;
    height: 375px;
}

section#featured img {
    width: 290px;
}

div.alljackets {
    display: flex;
    justify-content: center;
    height: 90px;
    position: relative;
    background-color: #002E55;
    width: 100%;
    color: #FFE51E;
    text-align: center;
}

.alljackets h3 {
    font-size: 5vw;
}

section#highlight {
   display: flex;
   flex-direction: column;
   padding: 10px 15px;
}

section#highlight img {
    width: 100%;
}

section#socials {
    position: relative;
}

div.follow {
    padding-top: 2px;
    height: 265px;
    background-color: #FFE51E;
    text-align: center;
    padding-bottom: 20px;
}

.follow h6 {
    font-size: 10vw;
    margin: 20px 0;
}

.social_icons a {
    text-decoration: none;
    color: #2A96D2;
    padding: 10px;
}

.social_icons i {
    font-size: 3em;
}


.form-social ul{
    list-style-type: none;
    text-align: center;

}

.form-social input {
    text-align: center;
    display: block;
    margin : 0 auto;
    width: 288px;
    height: 40px;
}

section#footer {
    position: relative;
}

.footerlogo {
    width: 100px;
    height: auto;
    padding: 10px;

}

.mobilefooter {
    height: 72px;
    width: 100%;
    bottom: 0;
    background-color: #002E55;
}

.desktopfooter {
    display: none;
}

.mobilefooter li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    padding: 10px;

}

.mobilefooter li a {
    color: #FFFFFF;
}

@media (min-width: 640px) {

body {
    max-width: 1440px; 
    grid-template-areas:
    'top'
    'hero' 'hero' 'hero' 'hero'
    'boxes'   'boxes'  'boxes'  'boxes'
    'highlight' 'highlight'
    'social'
    'bottom' 'bottom' 'bottom' 'bottom';
}

header {
    height: 122px;
    position: relative;
    background-color: #002E55;
    width: 100%;
}

header nav {
    display: block;
    padding: 40px;
    left: 40%;
    margin-left: 10%;
}

header nav ul { 
    display: inline-block; 
    display: flex;
    margin: 0;
    text-align: unset;
    
}

header nav ul li a {
    font-family: "EB Garamond", serif;
    text-decoration: none;
    font-size: 28px;
    color: #EAEAEA;
    background: none;
    border: none;
    display: block;
}

header nav ul li { 
    width: 150px;
    color: #EAEAEA;
    list-style-type: none;
    flex-direction: row;
}

header nav i {
    color: #FFE51E;
    position: relative;
    display: inline;
}

nav ul li:before {
    content: "";
    position: absolute;
    height: 32px;
    width: 3px;
    background-color: #FFE51E;
}

section#welcome {
    position: relative;
    max-width: 100%;
}

.logo {
    display: grid;
    height: 86px;
    width: 200px;
    padding: 20px;
    float: left;
}

label[for="hamburger-menu"] {
    display: none;
    color: #FFE51E;
}

.border {
    background-color: #FFE51E;
    width: 1440px;
    height: 8px;
    position: relative;
}

h1 {
    font-size: 14vw;
    line-height: 78%;
    letter-spacing: 1.5%;

}

.herocontainer {
    position: relative;
}

.imagetext {
    position: absolute;
    color: #FFE51E;
    width: min-content;
    height: auto;
    top: 18px;
    right: 2%;
}

.imagetext h1{
    margin: 0;
}

h2 {
    color: black;
}

section#featured {
    position: relative;
    justify-content: center;
}

div.flex-container.jacket {
    width: 100vw;
    display: flex;
    flex-flow: row;
    text-align: center;
    margin: auto;
    justify-content: center;
    overflow-y: hidden;
    height: auto;
}

div.featured_jackets {
    display: inline;
    padding: 10px;
    height: auto;
}

section#featured img {
    width: 22vw;
    height: auto;
    object-fit: cover;
    border-color: black;
    border: 1px solid;
}

div.alljackets {
    display: flex;
    position: relative;
    background-color: #002E55;
    color: #FFE51E;
    text-align: center;
    height: fit-content;
}

.alljackets h3 {
    margin: 5px;
}

h3 {
    font-size: 40px;
}
h3 a {
    text-decoration: none;
    color: #FFE51E;
    margin: 20px;
}

.product_highlight, .jacket_highlight {
    margin: 20px 15px;
    width: auto;
    background-color: #002E55;
    border: 7px solid;
    border-color: #2A96D2;
    line-height: 0px;
    
  }

  div.product_highlight>p,
  div.jacket_highlight>p {
        display: flexbox;
        flex-wrap: wrap;
        font-family:"EB Garamond", serif ;
        font-style: italic;
        font-size: 28px;
        color: #2A96D2;
        line-height: 28px;
        margin: 20px;
    }

    h4 {
        font-size: 42px;
        color: #FFE51E;
        margin-top: 0px;
        margin-bottom: 0px;
        justify-content: center;
        text-align: center;
        clear: both;
        word-break: break-all;
        display: inline;
    }

    section#social {
        display: flex;
        justify-content: center;
        position: relative;
        
    }

    section#social .social_icons, h6 {
        display: none;
    }

    div.follow {
        background-color: #002E55;
        border: 7px solid;
        border-color: #2A96D2;
        width: 512px;
        height: auto;
        overflow: auto;
        margin: 52px;
        justify-content: center;
        padding-top: 2px;
        
    }

    section#footer {
        background-color: #002E55;
        width: 100vw;
        height: 200px;
        position: relative;
        bottom: -5px;
        display: inline-block;
        overflow:hidden;
    }

    .f-icons {
        height: 100%;
        display: flex;
        justify-content: space-between;
        width: 25%;
        margin: 0 auto;
    }
    
    .f-icons a {
        text-decoration: none;
        color: #2A96D2;
        font-size: 1vw;
        padding-left: 5px;
        }

   .mobilefooter {
        display: none;
    }

   .desktopfooter {
        display: inline;
        z-index: 5;

    }

    div.footerwrap {
        display: inline-block;
        top: 20%;
    }

    div.footerwrap nav ul{
        display: inline-block;
        flex-direction:column;
        
    }
    
    div.footerwrap nav ul li a {
        text-decoration: none;
        color: #EAEAEA;
    }
    
    div.footerwrap nav ul li { 
        font-size: 30px;
        color: #FFFFFF;
        list-style-type: none;
        text-decoration: none;
    }

    .ptcz {
        position: relative;
        display: block;
        float: left;
        height: 200px;
        width: 170px;
        top: 0;
    }

    h5 {
        font-size: 44px;
        color: #FFE51E;
        text-align: right;
        line-height: 82.5%;
        display: block;
    }
    h5 span {
        display: block;
    }


@media (min-width: 920px) {

    section#highlight {
        flex-direction: row;
    }
}