@font-face {
    font-family: "Bebas Neue", serif;
    src: url("../Rainydays/fonts/BebasNeue-Regular.ttf") format("truetype");

    font-family: "EB Garamond", serif;
    src: url("../Rainydays/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #DFDFDF;
}

header nav ul{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 200px;
    padding-bottom: 20px;
}

header nav ul li a {
    font-family: "EB Garamond", serif;
    text-decoration: none;
    font-size: 34px;
    color: #EAEAEA;
}

header nav ul li { 
    color: #EAEAEA;
    list-style-type: none;
    margin: -18px 0;
    padding-top: 92px;
    padding-left: 76px;
    position: relative;
    line-height: 20px;
}
nav ul li:before {
    content: "";
    position: absolute;
    height: 24px;
    width: 2px;
    margin-left: -10px;
    background-color: #FFE51E;
}


h1,h2,h3,h4,h5,h6 { 
    font-family: "Bebas Neue", serif;
}

header {
    background-color: #002E55;
    width: 100%;
    height: 122px;
    margin-top: 0;
}

.logo {
    height: 86px;
    width: 200px;
    position: absolute;
    margin: 20px 0px 0px 20px;
}

header i {
    margin: -60% 0 0 90%;
    display: inline-flex;
    color: #FFE51E;
    position: relative;
}

.border {
    background-color: #FFE51E;
    width: 1440px;
    height: 8px;
}

.background_border {
    width: 1186px;
    height: auto;
    background-color: #EAEAEA;
    position: relative;
    top:-10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.frontpage_image { 
    display:flex;
    flex-wrap: wrap;
    width: 1440px;
    height: auto;
    opacity: 70%;

}

div.wrapper {
    position: relative;
    height:auto;
    width: 1440px;

}

h1 {
    font-size: 144px;
    line-height: 78%;
    letter-spacing: 1.5%;

}

div.imagetext {
    top: 0;
    text-align:left;
    justify-content: center;
    display: flex;
    flex-shrink: inherit;
    color: #FFE51E;
    position: absolute;
    width: 526px;
    left: 750px;
    margin-top:0%;
}

a {
    text-decoration: none;
}

h2 {
    display: flex;
    align-self: center;
    color: black;
}

div.flex-container {
    display: flex; 
    flex-flow: row nowrap;
    text-align: center;
}

div.featured_jackets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

div.featured_jackets>img {
    width: 230px;
    height: 299px;
    object-fit: cover;
    border-color: black;
    border: 1px solid;
}

h3 {
    font-size: 40px;
}
h3 a {
    text-decoration: none;
    color: #FFE51E;
    margin: 20px;
}

section.highlight {
    display: flex;
    justify-content: center;
    
}

.product_highlight, .jacket_highlight {
    margin: 51px;
    width: 512px;
    height: 392px;
    background-color: #002E55;
    border: 7px solid;
    border-color: #2A96D2;
    line-height: 0px;
    
  }
  
div.product_highlight>img,
div.jacket_highlight>img {
    width: 512px;
    height: 197px;
  }

div.product_highlight>p,
div.jacket_highlight>p {
      display: flexbox;
      flex-wrap: wrap;
      font-family:"EB Garamond", serif ;
      font-style: italic;
      font-size: 28px;
      color: #2A96D2;
      line-height: 28px;
      margin: 20px;
  }

h4 {
    font-size: 42px;
    color: #FFE51E;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    text-align: center;
    clear: both;
    word-break: break-all;
    display: inline;
}

.mail_list {
    display: flex;
    justify-content: center;
    
}
div.mail {
    background-color: #002E55;
    border: 7px solid;
    border-color: #2A96D2;
    width: 512px;
    height: 197px;
    overflow: auto;
    margin: 52px;
    
}

h4 span {
    display: block;
}

.cta {
    text-align: center;
    background-color:#FFE51E;
    font-family: "Bebas Neue", serif;
    font-size: 32px;
    text-transform: uppercase;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin: -55px 0px 0px 380px;
    box-shadow: inset 2px 31px 0px -11px rgba(234, 234, 234, 0.50);
}

.cta a {
    text-decoration: none;
    color: black;
}


input {
    outline: none;
    width: 280px;
    height: 35px;
    font-size: 22px;
    font-family: "EB Garamond", serif;
    font-style: italic;
    color:#002E55;
}

.mail_list>ul>´li {
    margin: 0px;
}

.mail_list ul {
    list-style-type: none;
}

.form-center {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px -100px;

}
.ptcz {
    display: inline-flex;
    float: left;
    height: 200px;
    width: 170px;
    margin: -40px 0px 0px 20px;

}
h5 {
    font-size: 44px;
    color: #FFE51E;
    text-align: right;
    line-height: 82.5%;
}
h5 span {
    display: block;
}

footer ul{
    display: flex;
    flex-direction:column;
    
}

footer ul li a {
    text-decoration: none;
    color: #EAEAEA;
}

footer ul li { 
    font-size: 30px;
    color: #FFFFFF;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}

.footermenu {
    display: inline-block;
    float: left;
    margin: -20px 0px 0px -80px;
    padding: 20px;
}

.f-icons {
    color: #2A96D2;
    display: inline-flex;
    float: left;
    align-items: center;
    margin: 40px 0px 220px 140px;
}

.f-icons a {
    text-decoration: none;
    color: #2A96D2;
    padding: 10px;
        
    }
}

.f-icons i+i {
   margin-left: .5cm;
}

.space {
    padding: 60px;

}

footer {
    background-color: #002E55;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: -5px;
    display: inline-block;
    overflow: hidden;
}

h6 {
    font-size: 96px;
    display: inline;
}

div.jacketshead {
    padding: 50px;
}

div.flex-containermenu {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1440px;
    min-width: 150px;
    justify-content: center;
    padding: 50px;
}

div.flex-containermenu > div {
    flex-grow: 1;
}

div.menu_jackets>img {
    width: 230px;
    height: 299px;
    object-fit: cover;
    margin: 0px 0 0 50px;
}


div.flex-container.specific {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 200px;

}

div.flex-container.specific>img{
    height: 701px;  
    width: 562px;
    object-fit: cover;
    position: relative;
    left: 30px;
}

div.jacket_info {
    width: 400px;
    text-align: left;
    margin: 40px;
    
}

div.jacket_info>p {
    height: 283px;
    width: 436px;
    font-size: 30px;
    font-style: italic;
}

div.thumbnail_img {
    display: flex;
    width: 562px;
    position:absolute;
    top: 700px;
    left: 102px;

}

div.thumbnail_img>div {
    margin: 0,5px;
    width: 114px;
    height: 114px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: black;

}

div.size {
    display: flex;
    width: 300px;
    top: 0px;
}

div.size>div {
    height: 60px;
    width: 60px;
    background-color: #c4c4c4;
    margin: 20px;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-size: 48px;
}

div.cta.a2c {
    display: block;
    font-size: 64px;
    text-align: center;
    line-height: -1px;
    position: absolute;
    width: 300px;
    height: 90px;
    left: 300px;
    margin-top: 0px;
}


@media (max-width: 640px) {
    section.highlight {
        flex-direction: column;
        padding: 20%;
    }