@font-face {
    font-family: "Bebas Neue", serif;
    src: url("../Rainydays/fonts/BebasNeue-Regular.ttf") format("truetype");

    font-family: "EB Garamond", serif;
    src: url("../Rainydays/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truerype");
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li a {
    font-family: "EB Garamond", serif;
    text-decoration: none;
    color: #EAEAEA;
}

ul li { 
    color: #EAEAEA;
    list-style-type: none;
    margin: 4px 0;
    padding-top: 92px;
    padding-left: 76px;
    position: relative;
    line-height: 20px;
}
ul li:before {
    content: "";
    position: absolute;
    height: 24px;
    width: 4px;
    background-color: #FFE51E;
}

h1,h2,h3,h4,h5 { 
    font-family: "Bebas Neue", serif;
}

header,
footer {
    background-color: #002E55;
    width: 1440px;
    height: 122px;
}

.logo {
    height: 86px;
    width: 200px;
    position: absolute;
}

.border {
    background-color: #FFE51E;
    width: 1440px;
    height: 8px;
    position: inherit;
}

.frontpage_image { 
    width: 1440px;
    height: 672px;
    background-color: #E3E3E352;
    opacity: 68%;

}

div.wrapper {
    position: relative;
    text-align: center;
}

h1 {
    font-size: 144px;
    line-height: 78%;

}

div.imagetext {
    text-align:left;
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    color: #FFE51E;
    position: absolute;
    height: 448px;
    width: 526px;
    left: 750px;
    top: auto;