@font-face {
    font-family: "Bebas Neue", serif;
    src: url("../Rainydays/fonts/BebasNeue-Regular.ttf") format("truetype");

    font-family: "EB Garamond", serif;
    src: url("../Rainydays/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truerype");
}

ul{
    display: flex;
    flex-direction: row;
}
ul li a {
    font-family: "EB Garamond", serif;
    text-decoration: none;
    color: #EAEAEA;
}

ul li { 
    color: #EAEAEA;
    list-style-type: none;
    margin: 4px 0;
    padding-top: 92px;
    padding-left: 304px;
    position: relative;
    line-height: 20px;
}
ul li:before {
    display: flex;
    flex-direction: row;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 24px;
    width: 4px;
    background-color: #FFE51E;
}

h1,h2,h3,h4,h5 { 
    font-family: "Bebas Neue", serif;
}

header,
footer {
    background-color: #002E55;
    color: #EAEAEA;
}

.logo {
height: 86px;
width: 200px;
position: absolute;
}