@font-face {
    font-family: "Bebas Neue", serif;
    src: url("../Rainydays/fonts/BebasNeue-Regular.ttf") format("truetype");

    font-family: "EB Garamond", serif;
    src: url("../Rainydays/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li a {
    font-family: "EB Garamond", serif;
    text-decoration: none;
    color: #EAEAEA;
}

ul li { 
    color: #EAEAEA;
    list-style-type: none;
    margin: 4px 0;
    padding-top: 92px;
    padding-left: 76px;
    position: relative;
    line-height: 20px;
}
ul li:before {
    content: "";
    position: absolute;
    height: 24px;
    width: 4px;
    background-color: #FFE51E;
}

h1,h2,h3,h4,h5 { 
    font-family: "Bebas Neue", serif;
}

header,
footer {
    background-color: #002E55;
    width: 1440px;
    height: 122px;
}

.logo {
    height: 86px;
    width: 200px;
    position: absolute;
}

.border {
    background-color: #FFE51E;
    width: 1440px;
    height: 8px;
    position: inherit;
}

.frontpage_image { 
    width: 1440px;
    height: 672px;
    opacity: 70%;

}

div.wrapper {
    position: relative;
    text-align: center;
}

h1 {
    font-size: 144px;
    line-height: 78%;
    letter-spacing: 1.5%;

}

div.imagetext {
    text-align:left;
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    color: #FFE51E;
    position: absolute;
    height: 448px;
    width: 526px;
    left: 750px;
    top: 18%;
}

section.featured {
    display: flex;
    width: 100%;
    padding-top: 51px;
}

div.featured_jackets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px;
    box-sizing: border-box;
}

div.featured_jackets>img {
    width: auto;
    height: 280px;

}

h3 {
    font-size: 40px;
}
h3 a {
    text-decoration: none;
    color: #FFE51E;
    margin: 20px;
}

section.highlight {
    display: flex;
    justify-content: center;
    
}
  
.product_highlight, .jacket_highlight {
    margin: 51px;
    width: 512px;
    height: 392px;
    background-color: #002E55;
    border: 7px solid;
    border-color: #2A96D2;
    line-height: 0px;
    
  }
  
div.product_highlight>img,
div.jacket_highlight>img {
    width: 512px;
    height: 197px;
  }

div.product_highlight>p,
div.jacket_highlight>p {
      display: flexbox;
      flex-wrap: wrap;
      font-family:"EB Garamond", serif ;
      font-style: italic;
      font-size: 28px;
      color: #2A96D2;
      line-height: 28px;
      margin: 20px;
  }

h4 {
    font-size: 42px;
    color: #FFE51E;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    text-align: center;
    clear: both;
    word-break: break-all;
    display: inline;
}

.mail_list {
    display: flex;
    justify-content: center;
    
}
div.mail {
    background-color: #002E55;
    border: 7px solid;
    border-color: #2A96D2;
    width: 512px;
    height: 197px;
    overflow: auto;
    margin: 52px;
}

h4 span {
    display: block;
}

input {
    outline: none;
    width: 390px;
    height: 45px;
}

.mail_list>ul>li:before {
    content: none;
}

.form-center {
    display: flex;
    justify-content: center;

}
.footertext {
    height: 180px;
    width: 170px;
    top: 1.62%;
    bottom: 1.08%;
    display: flex;
    flex-shrink: inherit;
}
h5 {
    font-size: 44px;
    color: #FFE51E;
    text-align: right;
    line-height: 82.5%;
}
h5 span {
    display: block;
}